.detail-section-container{
  margin: 50px 75px ;
}

.detail-content{
  display: flex;
  margin: 70px;
}

.detail-image-content{
  margin: 0;
  padding: 0;
}

.detail-image{
  padding: 0;
  margin: 0;
  margin-right: 50px;
  width: 475px;
}

.detail-image img{
  border-radius: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.detail-small-image-content{
  display: flex;
}

.detail-small-image{
  margin: 0;
  padding: 0 15px 0 0;
  width: 20%;
}

.detail-small-image img{
  width: 100%;
  border-radius: 10px;
  margin: 15px 0;
  padding: 0;
}

.detail-info-rank{
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.detail-info-rank p{
  padding: 0;
  margin: 0;
}

.price{
  margin: 0;
  padding: 0;
  color: #ff514e;
  font-weight: 500;
  font-size: 24px;
}

.detail-info-place{
  display: flex;
}

.detail-info-place p{
  margin: 0;
  padding: 20px 20px 0 0;
  font-size: 15px;
  font-weight: 500;
}

.subcontent{
  font-size: 15px;
  padding: 20px 0 0 0 ;
  margin: 0;
}

.detail-info-content{
  border-bottom: 1px solid rgb(183 181 181);
}

.detail-info-content h2{
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

.detail-info-price h4{
  margin: 0;
  padding: 20px 0 0 0;
}

.detail-info-price ul{
  list-style: none;
  margin: 0;
  padding: 5px 0 0 0; 
}

.detail-price-form li{
  margin: 0;
  padding: 0;
  margin: 10px 0 20px 0;
}

.detail-cart-container{
  display: flex;
  padding: 0;
  margin: 20px 0;
  border-bottom: 1px solid rgb(183 181 181);
}

.detail-cart-plus{
  display: flex;
  margin: 0 20px 0 0;
  padding: 0;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.detail-cart-plus button{
  cursor: pointer;
  margin: 0;
  padding: 8px;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 15px;
}

.detail-cart-plus button:hover{
  background-color: rgb(0 0 0 / 5%);
  color: #ff514e;
  transition: 0.2s;
}

.detail-cart-plus p{
  margin: 0;
  padding: 0 15px;
}

.detail-cart-button{
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

.detail-cart-button button{
  border: none;
  cursor: pointer;
  width: 350px;
  height: 38px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #ff514e;
}

.detail-cart-button button:hover{
  background-color: #141212a9;
  opacity: 10;
  transition: 0.5s;
}

.detail-icon{
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0;
}

.detail-icon svg:hover path{
  fill: #ff514e !important;
  transition: 0.2s;
}

.detail-product-container{
  margin: 0;
  padding: 0;
}

.detail-product-delivery {
  display: flex;
  margin: 0;
  margin-bottom: 15px;
  padding: 5px 0;
  align-items: center;
  border-left: 3px solid #ff514e;
}

.detail-product-delivery p{
  margin: 0;
  padding: 0;
}

.detail-product-hours {
  display: flex;
  margin: 0;
  margin-bottom: 15px;
  padding: 5px 0;
  align-items: center;
  border-left: 3px solid #ff514e;
}

.detail-product-hours p {
  margin: 0;
  padding: 0;
}

.detail-product-ofert {
  display: flex;
  margin: 0;
  padding: 5px 0;
  align-items: center;
  border-left: 3px solid #ff514e;
}

.detail-product-ofert p {
  margin: 0;
  padding: 0;
}

.detail-description-container{
  margin: 20px;
}